/* global */

* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  color: #000;
}

body {
  background-image: url("./data/geometry-1023846_1920.jpg");
}

/* calculator */

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: coral;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
}

.calculator-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
  font-size: 3rem;
  border-radius: 10px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.calculator-button {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 350px;
  padding-bottom: 1rem;
}

.button-row {
  display: flex;
  flex: 1 0 0;
}

.button-row > button {
  border: 1px solid coral;
  font-size: 2.5rem;
  flex: 1 0 0;
  background-color: white;
  cursor: pointer;
}

button:active {
  background-color: #a4a4a4;
}

.last {
  display: flex;
  flex: 1 0 0;
}

.last > .number,
.decimal,
.calculate {
  border: 1px solid coral;
  font-size: 2.5rem;
  flex: 2.03 0 0;
  background-color: white;
}

.last > .decimal,
.calculate {
  flex: 1 0 0;
}

#border-top-left {
  border-top-left-radius: 10px;
  font-size: 0.5rem;
}

#border-top-left::after {
  content: "AC";
  font-size: 1.8rem;
}

#border-top-right {
  border-top-right-radius: 10px;
}

#border-bottom-left {
  border-bottom-left-radius: 10px;
}

#border-bottom-right {
  border-bottom-right-radius: 10px;
}

#border-bottom-left:active {
  background-color: #a4a4a4;
}
